## 라이브러리 import

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 시드 고정

In [2]:
random_seed = 2021
np.random.seed(random_seed)

## 데이터 불러오기

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# 공통 경로 설정
DATASET_PATH = '/content/drive/MyDrive/Colab Notebooks/timeseries/data'

### train data 만들기 (2020.01.01 ~ 2020.05.24)

In [58]:
train = pd.read_csv(os.path.join(DATASET_PATH, 'train.csv'))  # 2020.01.01 ~ 2020.05.17

In [59]:
valid = pd.read_csv(os.path.join(DATASET_PATH, 'validate.csv'))  # 2020.05.11 ~ 2020.05.24

In [60]:
# trian, valid 합친 다음 겹치는 기간 중복 제거
train_valid = pd.concat([train, valid])
train_valid = train_valid.drop_duplicates()
train_valid

           날짜  시간      10    100    101  ...   2510  3000   4510   5510   6000
0    20200101   0   83247  19128   2611  ...   3810   748   3920   2133   3799
1    20200101   1   89309  19027   3337  ...   3763   782   3483   2057   4010
2    20200101   2   66611  14710   2970  ...   3229   491   2634   1526   3388
3    20200101   3   53290  13753   2270  ...   2882   431   2488   1268   3686
4    20200101   4   52095  17615   2406  ...   2433   499   2952   1927   5608
..        ...  ..     ...    ...    ...  ...    ...   ...    ...    ...    ...
331  20200524  19  314226  98345  10625  ...  21694  2180  15746  10903  21014
332  20200524  20  300001  87871   8226  ...  19732  1990  14096  10028  17787
333  20200524  21  304150  71126   6002  ...  16967  1359  11670   7963  14041
334  20200524  22  236751  44947   3575  ...  11397   859   7270   5194   8230
335  20200524  23  143609  26137   2242  ...   6487   410   3963   2686   4690

[3447 rows x 37 columns]

In [61]:
# 인덱스 정리
train_valid = train_valid.reset_index(drop=True)

In [62]:
# YYYY:MM:DD HH:MM:SS 형식을 가진 '일시' 컬럼 생성
train_valid['일시'] = pd.to_datetime(train_valid['날짜'].astype(str)) + pd.to_timedelta(train_valid['시간'], 'h')

In [63]:
# 날짜 컬럼에서 월, 일, 요일, 주 정보 추출
train_valid['날짜'] = pd.to_datetime(train_valid['날짜'].astype(str))
train_valid['월'] = train_valid['날짜'].dt.month
train_valid['일'] = train_valid['날짜'].dt.day
train_valid['요일'] = train_valid['날짜'].dt.dayofweek
train_valid['주'] = train_valid['날짜'].dt.week

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [64]:
# 공휴일 정보 추가 (공휴일:1, 공휴일아님:0)
train_valid['공휴일'] = 0
train_valid['날짜'] = train_valid['날짜'].astype(str)

for i in range(len(train_valid)):
  if train_valid['날짜'][i] in ['2020-01-01', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27', '2020-04-15', '2020-04-30', '2020-05-01', '2020-05-05']:
    train_valid['공휴일'][i] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [65]:
train_valid

              날짜  시간      10    100    101  ...  월   일  요일   주  공휴일
0     2020-01-01   0   83247  19128   2611  ...  1   1   2   1    1
1     2020-01-01   1   89309  19027   3337  ...  1   1   2   1    1
2     2020-01-01   2   66611  14710   2970  ...  1   1   2   1    1
3     2020-01-01   3   53290  13753   2270  ...  1   1   2   1    1
4     2020-01-01   4   52095  17615   2406  ...  1   1   2   1    1
...          ...  ..     ...    ...    ...  ... ..  ..  ..  ..  ...
3442  2020-05-24  19  314226  98345  10625  ...  5  24   6  21    0
3443  2020-05-24  20  300001  87871   8226  ...  5  24   6  21    0
3444  2020-05-24  21  304150  71126   6002  ...  5  24   6  21    0
3445  2020-05-24  22  236751  44947   3575  ...  5  24   6  21    0
3446  2020-05-24  23  143609  26137   2242  ...  5  24   6  21    0

[3447 rows x 43 columns]

### 기온 정보 추가

In [66]:
weather = pd.read_csv(os.path.join(DATASET_PATH, 'weather.csv'), encoding='cp949')
weather

       지점 지점명                일시  기온(°C)  ...  강수량(mm)  강수량 QC플래그  적설(cm)  3시간신적설(cm)
0     108  서울  2020-01-01 00:00    -6.5  ...      0.0        NaN     NaN         NaN
1     108  서울  2020-01-01 01:00    -5.9  ...      NaN        9.0     NaN         NaN
2     108  서울  2020-01-01 02:00    -5.7  ...      NaN        9.0     NaN         NaN
3     108  서울  2020-01-01 03:00    -5.6  ...      0.0        NaN     NaN         NaN
4     108  서울  2020-01-01 04:00    -5.4  ...      NaN        9.0     NaN         NaN
...   ...  ..               ...     ...  ...      ...        ...     ...         ...
6955  159  부산  2020-05-24 19:00    19.3  ...      NaN        NaN     NaN         NaN
6956  159  부산  2020-05-24 20:00    19.7  ...      NaN        NaN     NaN         NaN
6957  159  부산  2020-05-24 21:00    19.6  ...      NaN        NaN     NaN         NaN
6958  159  부산  2020-05-24 22:00    19.6  ...      NaN        NaN     NaN         NaN
6959  159  부산  2020-05-24 23:00    19.3  ...      NaN        NaN     NaN         NaN

[6960 rows x 9 columns]

In [67]:
# 우선 서울 데이터만 활용
weather = weather[:3480]

In [68]:
# 일시 데이터 형식 통일
weather['일시'] = pd.to_datetime(weather['일시'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
# 일시, 기온 정보만 사용
weather_train = weather[['일시', '기온(°C)']]

In [70]:
weather_train

                      일시  기온(°C)
0    2020-01-01 00:00:00    -6.5
1    2020-01-01 01:00:00    -5.9
2    2020-01-01 02:00:00    -5.7
3    2020-01-01 03:00:00    -5.6
4    2020-01-01 04:00:00    -5.4
...                  ...     ...
3475 2020-05-24 19:00:00    17.8
3476 2020-05-24 20:00:00    16.7
3477 2020-05-24 21:00:00    15.5
3478 2020-05-24 22:00:00    15.0
3479 2020-05-24 23:00:00    14.4

[3480 rows x 2 columns]

In [71]:
train2 = pd.merge(train_valid, weather_train, on='일시', how='left')
train2

              날짜  시간      10    100    101    120  ...  월   일  요일   주  공휴일  기온(°C)
0     2020-01-01   0   83247  19128   2611   5161  ...  1   1   2   1    1    -6.5
1     2020-01-01   1   89309  19027   3337   5502  ...  1   1   2   1    1    -5.9
2     2020-01-01   2   66611  14710   2970   4631  ...  1   1   2   1    1    -5.7
3     2020-01-01   3   53290  13753   2270   4242  ...  1   1   2   1    1    -5.6
4     2020-01-01   4   52095  17615   2406   3689  ...  1   1   2   1    1    -5.4
...          ...  ..     ...    ...    ...    ...  ... ..  ..  ..  ..  ...     ...
3442  2020-05-24  19  314226  98345  10625  28618  ...  5  24   6  21    0    17.8
3443  2020-05-24  20  300001  87871   8226  22706  ...  5  24   6  21    0    16.7
3444  2020-05-24  21  304150  71126   6002  18317  ...  5  24   6  21    0    15.5
3445  2020-05-24  22  236751  44947   3575  11455  ...  5  24   6  21    0    15.0
3446  2020-05-24  23  143609  26137   2242   6166  ...  5  24   6  21    0    14.4

[3447 rows x 44 columns]

### 기름값 정보 추가

In [72]:
oil = pd.read_csv(os.path.join(DATASET_PATH, 'oilprice.csv'), encoding='cp949')
oil

                              번호      지역  ...      경유    실내등유
0     기준 : 일간(20200101~20200531)     NaN  ...     NaN     NaN
1                       A0006039  서울 강남구  ...  1495.0     0.0
2                       A0006039  서울 강남구  ...  1495.0     0.0
3                       A0006039  서울 강남구  ...  1495.0     0.0
4                       A0006039  서울 강남구  ...  1495.0     0.0
...                          ...     ...  ...     ...     ...
6069                    A0001216  서울 강남구  ...  1609.0   959.0
6070                    A0001216  서울 강남구  ...  1609.0   959.0
6071                    A0001216  서울 강남구  ...  1609.0  1025.0
6072                    A0001216  서울 강남구  ...  1609.0  1025.0
6073                    A0001216  서울 강남구  ...  1609.0  1025.0

[6074 rows x 11 columns]

In [73]:
# 2020.01.01 ~ 2020.05.24 데이터만 학습에 사용
oil_train = oil.iloc[1:146, :].copy().reset_index(drop=True)

In [74]:
oil_train = oil_train[['기간', '고급휘발유', '휘발유', '경유']]

In [75]:
oil_train['기간'] = oil_train['기간'].astype(int)
oil_train['날짜'] = pd.to_datetime(oil_train['기간'].astype(str))
oil_train = oil_train.drop(columns='기간')
oil_train

      고급휘발유     휘발유      경유         날짜
0    1802.0  1657.0  1495.0 2020-01-01
1    1802.0  1657.0  1495.0 2020-01-02
2    1802.0  1657.0  1495.0 2020-01-03
3    1802.0  1657.0  1495.0 2020-01-04
4    1802.0  1657.0  1495.0 2020-01-05
..      ...     ...     ...        ...
140  1565.0  1345.0  1195.0 2020-05-20
141  1565.0  1345.0  1195.0 2020-05-21
142  1565.0  1345.0  1195.0 2020-05-22
143  1565.0  1345.0  1195.0 2020-05-23
144  1565.0  1345.0  1195.0 2020-05-24

[145 rows x 4 columns]

In [76]:
train2['날짜'] = pd.to_datetime(train2['날짜'])

In [77]:
train3 = pd.merge(train2, oil_train, on='날짜', how='left')
train3

             날짜  시간      10    100    101  ...  공휴일  기온(°C)   고급휘발유     휘발유      경유
0    2020-01-01   0   83247  19128   2611  ...    1    -6.5  1802.0  1657.0  1495.0
1    2020-01-01   1   89309  19027   3337  ...    1    -5.9  1802.0  1657.0  1495.0
2    2020-01-01   2   66611  14710   2970  ...    1    -5.7  1802.0  1657.0  1495.0
3    2020-01-01   3   53290  13753   2270  ...    1    -5.6  1802.0  1657.0  1495.0
4    2020-01-01   4   52095  17615   2406  ...    1    -5.4  1802.0  1657.0  1495.0
...         ...  ..     ...    ...    ...  ...  ...     ...     ...     ...     ...
3442 2020-05-24  19  314226  98345  10625  ...    0    17.8  1565.0  1345.0  1195.0
3443 2020-05-24  20  300001  87871   8226  ...    0    16.7  1565.0  1345.0  1195.0
3444 2020-05-24  21  304150  71126   6002  ...    0    15.5  1565.0  1345.0  1195.0
3445 2020-05-24  22  236751  44947   3575  ...    0    15.0  1565.0  1345.0  1195.0
3446 2020-05-24  23  143609  26137   2242  ...    0    14.4  1565.0  1345.0  1195.0

[3447 rows x 47 columns]

### test data 만들기 (2020.05.25 ~ 2020.05.31)

In [81]:
test = pd.read_csv(os.path.join(DATASET_PATH, 'test.csv'))
test

           날짜  시간     10    100   101   120  ...  1510  2510  3000  4510  5510  6000
0    20200518   0  82065  15172  1500  3294  ...  1329  3665   404  2242  1619  2314
1    20200518   1  51248   9840   813  2356  ...   921  2081   272  1390  1003  1766
2    20200518   2  39026   7894   760  2413  ...   920  1764   228  1136   922  1309
3    20200518   3  40993  10137   780  2701  ...   892  2447   337  1495   975  1912
4    20200518   4  77863  19603  1276  5019  ...  1368  4380   513  2940  1758  3629
..        ...  ..    ...    ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
331  20200531  19   -999   -999  -999  -999  ...  -999  -999  -999  -999  -999  -999
332  20200531  20   -999   -999  -999  -999  ...  -999  -999  -999  -999  -999  -999
333  20200531  21   -999   -999  -999  -999  ...  -999  -999  -999  -999  -999  -999
334  20200531  22   -999   -999  -999  -999  ...  -999  -999  -999  -999  -999  -999
335  20200531  23   -999   -999  -999  -999  ...  -999  -999  -999  -999  -999  -999

[336 rows x 37 columns]

In [82]:
test = test[-168:].copy()

In [83]:
test = test.reset_index(drop=True)

In [84]:
test['일시'] = pd.to_datetime(test['날짜'].astype(str)) + pd.to_timedelta(test['시간'], 'h')

In [85]:
test['날짜'] = pd.to_datetime(test['날짜'].astype(str))
test['월'] = test['날짜'].dt.month
test['일'] = test['날짜'].dt.day
test['요일'] = test['날짜'].dt.dayofweek
test['주'] = test['날짜'].dt.week

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """

In [86]:
test['공휴일'] = 0
test['날짜'] = test['날짜'].astype(str)

for i in range(len(test)):
  if test['날짜'][i] in ['2020-01-01', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27', '2020-04-15', '2020-04-30', '2020-05-01', '2020-05-05']:
    test['공휴일'][i] = 1

In [87]:
test

             날짜  시간   10  100  101  120  ...                  일시  월   일  요일   주  공휴일
0    2020-05-25   0 -999 -999 -999 -999  ... 2020-05-25 00:00:00  5  25   0  22    0
1    2020-05-25   1 -999 -999 -999 -999  ... 2020-05-25 01:00:00  5  25   0  22    0
2    2020-05-25   2 -999 -999 -999 -999  ... 2020-05-25 02:00:00  5  25   0  22    0
3    2020-05-25   3 -999 -999 -999 -999  ... 2020-05-25 03:00:00  5  25   0  22    0
4    2020-05-25   4 -999 -999 -999 -999  ... 2020-05-25 04:00:00  5  25   0  22    0
..          ...  ..  ...  ...  ...  ...  ...                 ... ..  ..  ..  ..  ...
163  2020-05-31  19 -999 -999 -999 -999  ... 2020-05-31 19:00:00  5  31   6  22    0
164  2020-05-31  20 -999 -999 -999 -999  ... 2020-05-31 20:00:00  5  31   6  22    0
165  2020-05-31  21 -999 -999 -999 -999  ... 2020-05-31 21:00:00  5  31   6  22    0
166  2020-05-31  22 -999 -999 -999 -999  ... 2020-05-31 22:00:00  5  31   6  22    0
167  2020-05-31  23 -999 -999 -999 -999  ... 2020-05-31 23:00:00  5  31   6  22    0

[168 rows x 43 columns]

### weather 정보 추가
테스트 기간의 데이터는 사용할 수 없으니 그 전 데이터들로 시계열 예측해서 사용

2018.01.01 ~ 2020.05.24 기온 데이터로 2020.05.25 ~ 2020.05.31 기온 예측. Prophet 사용.

In [88]:
w18 = pd.read_csv(os.path.join(DATASET_PATH, 'w2018.csv'), encoding='cp949')
w19 = pd.read_csv(os.path.join(DATASET_PATH, 'w2019.csv'), encoding='cp949')
w20 = pd.read_csv(os.path.join(DATASET_PATH, 'w20.csv'), encoding='cp949')
weather_all = pd.concat([w18, w19, w20])
weather_all

       지점 지점명                일시  기온(°C)  강수량(mm)  적설(cm)  3시간신적설(cm)
0     108  서울  2018-01-01 00:00    -3.2      NaN     NaN         NaN
1     108  서울  2018-01-01 01:00    -3.3      NaN     NaN         NaN
2     108  서울  2018-01-01 02:00    -3.7      NaN     NaN         NaN
3     108  서울  2018-01-01 03:00    -4.0      NaN     NaN         NaN
4     108  서울  2018-01-01 04:00    -4.2      NaN     NaN         NaN
...   ...  ..               ...     ...      ...     ...         ...
3643  108  서울  2020-05-31 19:00    20.7      NaN     NaN         NaN
3644  108  서울  2020-05-31 20:00    20.2      NaN     NaN         NaN
3645  108  서울  2020-05-31 21:00    19.8      NaN     NaN         NaN
3646  108  서울  2020-05-31 22:00    19.0      NaN     NaN         NaN
3647  108  서울  2020-05-31 23:00    18.0      0.2     NaN         NaN

[21167 rows x 7 columns]

In [89]:
# 2018.01.01 ~ 2020.05.24 데이터
weather_past = weather_all[:-168]

In [90]:
weather_past['일시'] = pd.to_datetime(weather_past['일시'])
weather_past = weather_past[['일시', '기온(°C)']]
weather_past

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                      일시  기온(°C)
0    2018-01-01 00:00:00    -3.2
1    2018-01-01 01:00:00    -3.3
2    2018-01-01 02:00:00    -3.7
3    2018-01-01 03:00:00    -4.0
4    2018-01-01 04:00:00    -4.2
...                  ...     ...
3475 2020-05-24 19:00:00    17.8
3476 2020-05-24 20:00:00    16.7
3477 2020-05-24 21:00:00    15.5
3478 2020-05-24 22:00:00    15.0
3479 2020-05-24 23:00:00    14.4

[20999 rows x 2 columns]

In [91]:
from fbprophet import Prophet

df = pd.DataFrame()
df['ds'] = weather_past['일시']
df['y'] = weather_past['기온(°C)']

m = Prophet()
m.fit(df)

future = m.make_future_dataframe(freq='H', periods=168)
forecast = m.predict(future)
result = forecast[['ds', 'yhat']]

weather_pred = pd.DataFrame()
weather_pred['일시'] = future
weather_pred['기온(°C)'] = result['yhat']

In [92]:
weather_future = weather_pred[-168:]
weather_future

                       일시     기온(°C)
20999 2020-05-25 00:00:00  16.691284
21000 2020-05-25 01:00:00  16.272530
21001 2020-05-25 02:00:00  15.949737
21002 2020-05-25 03:00:00  15.695986
21003 2020-05-25 04:00:00  15.417966
...                   ...        ...
21162 2020-05-31 19:00:00  20.176847
21163 2020-05-31 20:00:00  19.261753
21164 2020-05-31 21:00:00  18.600359
21165 2020-05-31 22:00:00  18.116659
21166 2020-05-31 23:00:00  17.676400

[168 rows x 2 columns]

In [93]:
test2 = pd.merge(test, weather_future, on='일시', how='left')
test2

             날짜  시간   10  100  101  120  ...  월   일  요일   주  공휴일     기온(°C)
0    2020-05-25   0 -999 -999 -999 -999  ...  5  25   0  22    0  16.691284
1    2020-05-25   1 -999 -999 -999 -999  ...  5  25   0  22    0  16.272530
2    2020-05-25   2 -999 -999 -999 -999  ...  5  25   0  22    0  15.949737
3    2020-05-25   3 -999 -999 -999 -999  ...  5  25   0  22    0  15.695986
4    2020-05-25   4 -999 -999 -999 -999  ...  5  25   0  22    0  15.417966
..          ...  ..  ...  ...  ...  ...  ... ..  ..  ..  ..  ...        ...
163  2020-05-31  19 -999 -999 -999 -999  ...  5  31   6  22    0  20.176847
164  2020-05-31  20 -999 -999 -999 -999  ...  5  31   6  22    0  19.261753
165  2020-05-31  21 -999 -999 -999 -999  ...  5  31   6  22    0  18.600359
166  2020-05-31  22 -999 -999 -999 -999  ...  5  31   6  22    0  18.116659
167  2020-05-31  23 -999 -999 -999 -999  ...  5  31   6  22    0  17.676400

[168 rows x 44 columns]

### 기름값 정보 추가
2020.05.25 ~ 2020.05.31 기름값은 2020.05.24 기름값과 동일하다고 가정

In [94]:
oil_train

      고급휘발유     휘발유      경유         날짜
0    1802.0  1657.0  1495.0 2020-01-01
1    1802.0  1657.0  1495.0 2020-01-02
2    1802.0  1657.0  1495.0 2020-01-03
3    1802.0  1657.0  1495.0 2020-01-04
4    1802.0  1657.0  1495.0 2020-01-05
..      ...     ...     ...        ...
140  1565.0  1345.0  1195.0 2020-05-20
141  1565.0  1345.0  1195.0 2020-05-21
142  1565.0  1345.0  1195.0 2020-05-22
143  1565.0  1345.0  1195.0 2020-05-23
144  1565.0  1345.0  1195.0 2020-05-24

[145 rows x 4 columns]

In [95]:
start_date = pd.to_datetime('2020-05-25')
end_date = pd.to_datetime('2020-05-31')

dates = pd.date_range(start_date, end_date, freq='D')

oil_future = pd.DataFrame({'고급휘발유':[1565.0]*7,
                         '휘발유': [1345.0]*7,
                         '경유': [1195.0]*7,
                         '날짜': pd.date_range(start_date,end_date,freq='D'),
})
oil_future

    고급휘발유     휘발유      경유         날짜
0  1565.0  1345.0  1195.0 2020-05-25
1  1565.0  1345.0  1195.0 2020-05-26
2  1565.0  1345.0  1195.0 2020-05-27
3  1565.0  1345.0  1195.0 2020-05-28
4  1565.0  1345.0  1195.0 2020-05-29
5  1565.0  1345.0  1195.0 2020-05-30
6  1565.0  1345.0  1195.0 2020-05-31

In [96]:
test2['날짜'] = pd.to_datetime(test2['날짜'])

In [97]:
test3 = pd.merge(test2, oil_future, on='날짜', how='left')
test3

            날짜  시간   10  100  101  ...  공휴일     기온(°C)   고급휘발유     휘발유      경유
0   2020-05-25   0 -999 -999 -999  ...    0  16.691284  1565.0  1345.0  1195.0
1   2020-05-25   1 -999 -999 -999  ...    0  16.272530  1565.0  1345.0  1195.0
2   2020-05-25   2 -999 -999 -999  ...    0  15.949737  1565.0  1345.0  1195.0
3   2020-05-25   3 -999 -999 -999  ...    0  15.695986  1565.0  1345.0  1195.0
4   2020-05-25   4 -999 -999 -999  ...    0  15.417966  1565.0  1345.0  1195.0
..         ...  ..  ...  ...  ...  ...  ...        ...     ...     ...     ...
163 2020-05-31  19 -999 -999 -999  ...    0  20.176847  1565.0  1345.0  1195.0
164 2020-05-31  20 -999 -999 -999  ...    0  19.261753  1565.0  1345.0  1195.0
165 2020-05-31  21 -999 -999 -999  ...    0  18.600359  1565.0  1345.0  1195.0
166 2020-05-31  22 -999 -999 -999  ...    0  18.116659  1565.0  1345.0  1195.0
167 2020-05-31  23 -999 -999 -999  ...    0  17.676400  1565.0  1345.0  1195.0

[168 rows x 47 columns]

## 모델링 & 제출

In [98]:
sub = pd.read_csv(os.path.join(DATASET_PATH, 'sample_submission.csv'))
sub

       timestamp   10  100  101  120  121  ...  1510  2510  3000  4510  5510  6000
0     20200525_0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
1     20200525_1  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2     20200525_2  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3     20200525_3  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4     20200525_4  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
..           ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...   ...   ...
163  20200531_19  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
164  20200531_20  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
165  20200531_21  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
166  20200531_22  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
167  20200531_23  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[168 rows x 36 columns]

In [55]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.3 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [99]:
from catboost import CatBoostRegressor

for road in ['10', '100', '101', '120', '121', '140', '150', '160', '200', '201', '251', '270', '300', '301', '351', '352', '370', '400', '450', '500', '550', '600', '650', '652', '1000', '1020', '1040', '1100', '1200', '1510', '2510', '3000', '4510', '5510', '6000']:
  X_train = train3[['시간', '월', '일', '요일', '주', '공휴일', '기온(°C)', '고급휘발유', '휘발유', '경유']]
  y_train = train3[road]
  X_valid = test3[['시간', '월', '일', '요일', '주', '공휴일', '기온(°C)', '고급휘발유', '휘발유', '경유']]
  y_valid = test3[road]

  cbr = CatBoostRegressor(verbose=200, iterations=3500)
  cbr.fit(X_train, y_train)
  pred = cbr.predict(X_valid)
  sub[road] = pred

Learning rate set to 0.017979
0:	learn: 120043.0400000	total: 2.92ms	remaining: 10.2s
200:	learn: 29271.6893195	total: 360ms	remaining: 5.91s
400:	learn: 21282.0678676	total: 687ms	remaining: 5.31s
600:	learn: 17591.2583093	total: 959ms	remaining: 4.63s
800:	learn: 15406.2264733	total: 1.2s	remaining: 4.04s
1000:	learn: 13797.0465039	total: 1.44s	remaining: 3.58s
1200:	learn: 12539.0550894	total: 1.68s	remaining: 3.22s
1400:	learn: 11507.9272617	total: 1.93s	remaining: 2.89s
1600:	learn: 10707.5405108	total: 2.17s	remaining: 2.57s
1800:	learn: 10039.7471587	total: 2.41s	remaining: 2.27s
2000:	learn: 9460.9375335	total: 2.68s	remaining: 2.01s
2200:	learn: 8968.1030713	total: 2.92s	remaining: 1.72s
2400:	learn: 8574.1453881	total: 3.16s	remaining: 1.45s
2600:	learn: 8205.6695504	total: 3.4s	remaining: 1.18s
2800:	learn: 7894.1201617	total: 3.66s	remaining: 913ms
3000:	learn: 7604.8718919	total: 3.9s	remaining: 648ms
3200:	learn: 7341.0968830	total: 4.13s	remaining: 385ms
3400:	learn: 7102.1992873	total: 4.37s	remaining: 127ms
3499:	learn: 6992.1206651	total: 4.49s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 41183.0248679	total: 3.53ms	remaining: 12.3s
200:	learn: 9492.4431545	total: 275ms	remaining: 4.52s
400:	learn: 7157.3736844	total: 518ms	remaining: 4s
600:	learn: 5951.7999575	total: 757ms	remaining: 3.65s
800:	learn: 5197.2372702	total: 1.01s	remaining: 3.41s
1000:	learn: 4688.7651202	total: 1.25s	remaining: 3.13s
1200:	learn: 4263.4732315	total: 1.5s	remaining: 2.86s
1400:	learn: 3942.5480768	total: 1.74s	remaining: 2.6s
1600:	learn: 3683.0498899	total: 1.99s	remaining: 2.35s
1800:	learn: 3449.5251848	total: 2.23s	remaining: 2.1s
2000:	learn: 3257.7755575	total: 2.47s	remaining: 1.85s
2200:	learn: 3087.0075355	total: 2.71s	remaining: 1.6s
2400:	learn: 2933.0409695	total: 3.01s	remaining: 1.38s
2600:	learn: 2803.2593086	total: 3.3s	remaining: 1.14s
2800:	learn: 2693.6250938	total: 3.59s	remaining: 896ms
3000:	learn: 2594.3044473	total: 3.87s	remaining: 643ms
3200:	learn: 2501.5996704	total: 4.15s	remaining: 388ms
3400:	learn: 2415.2916868	total: 4.45s	remaining: 129ms
3499:	learn: 2376.7220827	total: 4.58s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 5485.9951798	total: 1.81ms	remaining: 6.34s
200:	learn: 1434.4315252	total: 269ms	remaining: 4.41s
400:	learn: 1113.4599524	total: 524ms	remaining: 4.05s
600:	learn: 942.3012155	total: 802ms	remaining: 3.87s
800:	learn: 821.9922350	total: 1.09s	remaining: 3.67s
1000:	learn: 741.8023835	total: 1.36s	remaining: 3.41s
1200:	learn: 679.2666227	total: 1.61s	remaining: 3.09s
1400:	learn: 622.2932987	total: 1.86s	remaining: 2.78s
1600:	learn: 577.7407560	total: 2.15s	remaining: 2.55s
1800:	learn: 540.9656339	total: 2.45s	remaining: 2.31s
2000:	learn: 511.1577286	total: 2.74s	remaining: 2.05s
2200:	learn: 486.6708441	total: 3s	remaining: 1.77s
2400:	learn: 465.7823177	total: 3.28s	remaining: 1.5s
2600:	learn: 447.1289823	total: 3.52s	remaining: 1.22s
2800:	learn: 429.4947982	total: 3.78s	remaining: 943ms
3000:	learn: 414.0053878	total: 4.01s	remaining: 668ms
3200:	learn: 399.6213767	total: 4.28s	remaining: 399ms
3400:	learn: 386.3676324	total: 4.52s	remaining: 132ms
3499:	learn: 380.1709197	total: 4.67s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 13132.5628465	total: 1.33ms	remaining: 4.67s
200:	learn: 3370.2345495	total: 343ms	remaining: 5.63s
400:	learn: 2486.8340004	total: 686ms	remaining: 5.3s
600:	learn: 2091.4714399	total: 1.01s	remaining: 4.89s
800:	learn: 1854.3103769	total: 1.35s	remaining: 4.56s
1000:	learn: 1672.5364564	total: 1.62s	remaining: 4.04s
1200:	learn: 1542.5956612	total: 1.98s	remaining: 3.79s
1400:	learn: 1429.9262120	total: 2.39s	remaining: 3.58s
1600:	learn: 1339.4111732	total: 2.76s	remaining: 3.27s
1800:	learn: 1259.4028835	total: 3.18s	remaining: 3s
2000:	learn: 1183.5295683	total: 3.52s	remaining: 2.64s
2200:	learn: 1114.3701344	total: 3.86s	remaining: 2.28s
2400:	learn: 1057.3394099	total: 4.21s	remaining: 1.93s
2600:	learn: 1007.8907716	total: 4.53s	remaining: 1.56s
2800:	learn: 966.1824404	total: 4.84s	remaining: 1.21s
3000:	learn: 924.2874847	total: 5.15s	remaining: 857ms
3200:	learn: 887.1237610	total: 5.42s	remaining: 507ms
3400:	learn: 853.0082932	total: 5.69s	remaining: 166ms
3499:	learn: 838.4794735	total: 5.82s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 4729.0443604	total: 1.24ms	remaining: 4.33s
200:	learn: 1226.9030217	total: 263ms	remaining: 4.31s
400:	learn: 934.8311437	total: 507ms	remaining: 3.92s
600:	learn: 795.2442640	total: 755ms	remaining: 3.64s
800:	learn: 702.2274242	total: 992ms	remaining: 3.34s
1000:	learn: 641.0940703	total: 1.25s	remaining: 3.12s
1200:	learn: 594.6580489	total: 1.5s	remaining: 2.86s
1400:	learn: 556.4356954	total: 1.75s	remaining: 2.61s
1600:	learn: 523.0004225	total: 1.98s	remaining: 2.35s
1800:	learn: 494.3348151	total: 2.26s	remaining: 2.13s
2000:	learn: 471.6658150	total: 2.51s	remaining: 1.88s
2200:	learn: 450.0258281	total: 2.76s	remaining: 1.63s
2400:	learn: 430.6986725	total: 3.03s	remaining: 1.39s
2600:	learn: 412.3773593	total: 3.27s	remaining: 1.13s
2800:	learn: 396.8883522	total: 3.51s	remaining: 876ms
3000:	learn: 382.5259430	total: 3.74s	remaining: 623ms
3200:	learn: 370.3576155	total: 3.99s	remaining: 373ms
3400:	learn: 359.0812949	total: 4.23s	remaining: 123ms
3499:	learn: 353.3893884	total: 4.34s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 3489.3866051	total: 1.23ms	remaining: 4.31s
200:	learn: 1004.9694807	total: 242ms	remaining: 3.97s
400:	learn: 766.2563205	total: 528ms	remaining: 4.08s
600:	learn: 647.5470657	total: 817ms	remaining: 3.94s
800:	learn: 567.0558831	total: 1.11s	remaining: 3.73s
1000:	learn: 514.4517373	total: 1.36s	remaining: 3.39s
1200:	learn: 468.6431291	total: 1.61s	remaining: 3.07s
1400:	learn: 433.6928625	total: 1.84s	remaining: 2.76s
1600:	learn: 406.0008250	total: 2.09s	remaining: 2.48s
1800:	learn: 383.2522938	total: 2.36s	remaining: 2.23s
2000:	learn: 360.9521813	total: 2.66s	remaining: 2s
2200:	learn: 343.7937825	total: 2.95s	remaining: 1.74s
2400:	learn: 327.6996539	total: 3.22s	remaining: 1.48s
2600:	learn: 312.1002336	total: 3.53s	remaining: 1.22s
2800:	learn: 299.4439311	total: 3.81s	remaining: 950ms
3000:	learn: 288.5449741	total: 4.09s	remaining: 681ms
3200:	learn: 278.6650640	total: 4.4s	remaining: 411ms
3400:	learn: 269.6048515	total: 4.67s	remaining: 136ms
3499:	learn: 265.0171469	total: 4.79s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 57622.1241695	total: 1.47ms	remaining: 5.13s
200:	learn: 14183.5704219	total: 271ms	remaining: 4.45s
400:	learn: 10498.0931284	total: 548ms	remaining: 4.23s
600:	learn: 8668.9644064	total: 827ms	remaining: 3.99s
800:	learn: 7568.1799424	total: 1.08s	remaining: 3.66s
1000:	learn: 6765.5583705	total: 1.35s	remaining: 3.36s
1200:	learn: 6155.2514392	total: 1.6s	remaining: 3.06s
1400:	learn: 5693.9320552	total: 1.84s	remaining: 2.76s
1600:	learn: 5290.8180641	total: 2.09s	remaining: 2.48s
1800:	learn: 4969.2932668	total: 2.34s	remaining: 2.2s
2000:	learn: 4703.1681390	total: 2.62s	remaining: 1.96s
2200:	learn: 4484.4509051	total: 2.87s	remaining: 1.69s
2400:	learn: 4294.7966881	total: 3.11s	remaining: 1.43s
2600:	learn: 4118.7838582	total: 3.38s	remaining: 1.17s
2800:	learn: 3955.1112261	total: 3.62s	remaining: 904ms
3000:	learn: 3814.9413971	total: 3.86s	remaining: 642ms
3200:	learn: 3682.4332838	total: 4.11s	remaining: 383ms
3400:	learn: 3565.8747023	total: 4.36s	remaining: 127ms
3499:	learn: 3507.8853481	total: 4.48s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 2818.7185122	total: 5.73ms	remaining: 20s
200:	learn: 656.4305991	total: 253ms	remaining: 4.14s
400:	learn: 496.4128295	total: 517ms	remaining: 3.99s
600:	learn: 414.9723122	total: 776ms	remaining: 3.75s
800:	learn: 361.4570503	total: 1.03s	remaining: 3.46s
1000:	learn: 324.5780874	total: 1.26s	remaining: 3.16s
1200:	learn: 296.3683763	total: 1.52s	remaining: 2.9s
1400:	learn: 275.1329982	total: 1.79s	remaining: 2.69s
1600:	learn: 257.1960547	total: 2.04s	remaining: 2.42s
1800:	learn: 241.6022846	total: 2.29s	remaining: 2.17s
2000:	learn: 228.6053584	total: 2.56s	remaining: 1.92s
2200:	learn: 217.9654685	total: 2.88s	remaining: 1.7s
2400:	learn: 208.7401258	total: 3.18s	remaining: 1.46s
2600:	learn: 200.4234206	total: 3.47s	remaining: 1.2s
2800:	learn: 193.0359107	total: 3.76s	remaining: 939ms
3000:	learn: 186.2888799	total: 4.03s	remaining: 670ms
3200:	learn: 180.4912166	total: 4.3s	remaining: 402ms
3400:	learn: 174.4800151	total: 4.58s	remaining: 133ms
3499:	learn: 171.8120915	total: 4.73s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 8618.4670534	total: 1.69ms	remaining: 5.91s
200:	learn: 2191.3486480	total: 287ms	remaining: 4.71s
400:	learn: 1701.1605316	total: 567ms	remaining: 4.38s
600:	learn: 1454.1585107	total: 833ms	remaining: 4.02s
800:	learn: 1293.7489626	total: 1.07s	remaining: 3.62s
1000:	learn: 1190.0801963	total: 1.32s	remaining: 3.3s
1200:	learn: 1109.9162486	total: 1.57s	remaining: 3s
1400:	learn: 1033.3443357	total: 1.83s	remaining: 2.74s
1600:	learn: 974.3177679	total: 2.09s	remaining: 2.48s
1800:	learn: 917.1963734	total: 2.33s	remaining: 2.2s
2000:	learn: 872.5617101	total: 2.57s	remaining: 1.92s
2200:	learn: 831.0852425	total: 2.82s	remaining: 1.67s
2400:	learn: 795.7529642	total: 3.09s	remaining: 1.41s
2600:	learn: 760.8233453	total: 3.33s	remaining: 1.15s
2800:	learn: 732.2543228	total: 3.58s	remaining: 893ms
3000:	learn: 705.3402864	total: 3.83s	remaining: 637ms
3200:	learn: 678.3585943	total: 4.07s	remaining: 380ms
3400:	learn: 654.1770531	total: 4.33s	remaining: 126ms
3499:	learn: 642.3643979	total: 4.45s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 4170.2711509	total: 1.39ms	remaining: 4.87s
200:	learn: 1128.8861198	total: 265ms	remaining: 4.35s
400:	learn: 838.8727289	total: 529ms	remaining: 4.09s
600:	learn: 696.4055387	total: 774ms	remaining: 3.73s
800:	learn: 608.4618978	total: 1.03s	remaining: 3.47s
1000:	learn: 545.7692174	total: 1.3s	remaining: 3.24s
1200:	learn: 495.9967825	total: 1.56s	remaining: 2.98s
1400:	learn: 457.2373340	total: 1.81s	remaining: 2.71s
1600:	learn: 425.4987539	total: 2.11s	remaining: 2.51s
1800:	learn: 398.9030809	total: 2.41s	remaining: 2.27s
2000:	learn: 378.8157306	total: 2.69s	remaining: 2.02s
2200:	learn: 360.6215149	total: 2.94s	remaining: 1.74s
2400:	learn: 346.4217247	total: 3.2s	remaining: 1.46s
2600:	learn: 333.5201195	total: 3.45s	remaining: 1.19s
2800:	learn: 321.5792926	total: 3.72s	remaining: 928ms
3000:	learn: 310.6673208	total: 4.04s	remaining: 671ms
3200:	learn: 300.3899744	total: 4.41s	remaining: 412ms
3400:	learn: 291.7365925	total: 4.77s	remaining: 139ms
3499:	learn: 287.7749650	total: 4.93s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 29685.6291373	total: 1.47ms	remaining: 5.14s
200:	learn: 7418.2066603	total: 347ms	remaining: 5.69s
400:	learn: 5654.4528939	total: 663ms	remaining: 5.12s
600:	learn: 4660.3437436	total: 1.02s	remaining: 4.92s
800:	learn: 4063.0061884	total: 1.34s	remaining: 4.53s
1000:	learn: 3629.8064226	total: 1.62s	remaining: 4.05s
1200:	learn: 3299.5153022	total: 1.89s	remaining: 3.62s
1400:	learn: 3012.8208771	total: 2.13s	remaining: 3.2s
1600:	learn: 2777.0738916	total: 2.38s	remaining: 2.82s
1800:	learn: 2570.5995662	total: 2.63s	remaining: 2.48s
2000:	learn: 2400.0802263	total: 2.89s	remaining: 2.16s
2200:	learn: 2254.4395627	total: 3.15s	remaining: 1.86s
2400:	learn: 2117.4304946	total: 3.41s	remaining: 1.56s
2600:	learn: 2008.8264995	total: 3.71s	remaining: 1.28s
2800:	learn: 1911.2552218	total: 4.04s	remaining: 1.01s
3000:	learn: 1822.0231177	total: 4.39s	remaining: 731ms
3200:	learn: 1736.4380882	total: 4.76s	remaining: 445ms
3400:	learn: 1664.2066697	total: 5.07s	remaining: 148ms
3499:	learn: 1629.2895052	total: 5.19s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 8555.2056792	total: 1.47ms	remaining: 5.15s
200:	learn: 2391.9389016	total: 280ms	remaining: 4.6s
400:	learn: 1721.7552073	total: 562ms	remaining: 4.34s
600:	learn: 1415.5068571	total: 847ms	remaining: 4.08s
800:	learn: 1234.8871475	total: 1.1s	remaining: 3.71s
1000:	learn: 1103.9560313	total: 1.42s	remaining: 3.55s
1200:	learn: 998.9236827	total: 1.7s	remaining: 3.26s
1400:	learn: 917.0854455	total: 1.97s	remaining: 2.95s
1600:	learn: 853.2305512	total: 2.29s	remaining: 2.71s
1800:	learn: 800.1614749	total: 2.58s	remaining: 2.43s
2000:	learn: 755.5412767	total: 2.88s	remaining: 2.16s
2200:	learn: 718.6137552	total: 3.25s	remaining: 1.92s
2400:	learn: 685.3815591	total: 3.56s	remaining: 1.63s
2600:	learn: 655.3298693	total: 3.85s	remaining: 1.33s
2800:	learn: 629.4633487	total: 4.17s	remaining: 1.04s
3000:	learn: 604.4788013	total: 4.5s	remaining: 748ms
3200:	learn: 582.9721780	total: 4.78s	remaining: 447ms
3400:	learn: 563.4574909	total: 5.04s	remaining: 147ms
3499:	learn: 553.9527417	total: 5.17s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 13705.6984677	total: 1.25ms	remaining: 4.39s
200:	learn: 3862.0783908	total: 269ms	remaining: 4.42s
400:	learn: 2834.5658952	total: 529ms	remaining: 4.09s
600:	learn: 2345.6194341	total: 783ms	remaining: 3.78s
800:	learn: 2046.6115570	total: 1.04s	remaining: 3.5s
1000:	learn: 1831.8650295	total: 1.28s	remaining: 3.21s
1200:	learn: 1657.0356756	total: 1.52s	remaining: 2.92s
1400:	learn: 1510.5732084	total: 1.77s	remaining: 2.65s
1600:	learn: 1388.5876085	total: 2.02s	remaining: 2.4s
1800:	learn: 1292.6346801	total: 2.27s	remaining: 2.15s
2000:	learn: 1213.9012126	total: 2.52s	remaining: 1.89s
2200:	learn: 1150.7037686	total: 2.77s	remaining: 1.64s
2400:	learn: 1100.1492613	total: 3.02s	remaining: 1.38s
2600:	learn: 1052.6974286	total: 3.27s	remaining: 1.13s
2800:	learn: 1010.0901435	total: 3.55s	remaining: 885ms
3000:	learn: 973.2805532	total: 3.81s	remaining: 634ms
3200:	learn: 938.9714528	total: 4.05s	remaining: 378ms
3400:	learn: 909.6066266	total: 4.29s	remaining: 125ms
3499:	learn: 895.5416350	total: 4.41s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 9013.5855380	total: 1.5ms	remaining: 5.25s
200:	learn: 2576.0479358	total: 289ms	remaining: 4.74s
400:	learn: 1989.4272664	total: 572ms	remaining: 4.42s
600:	learn: 1689.9754470	total: 882ms	remaining: 4.25s
800:	learn: 1478.6550683	total: 1.17s	remaining: 3.96s
1000:	learn: 1329.2955564	total: 1.46s	remaining: 3.65s
1200:	learn: 1219.5675751	total: 1.72s	remaining: 3.3s
1400:	learn: 1129.3306648	total: 1.97s	remaining: 2.95s
1600:	learn: 1052.4282115	total: 2.23s	remaining: 2.65s
1800:	learn: 991.9501427	total: 2.47s	remaining: 2.33s
2000:	learn: 937.0341285	total: 2.71s	remaining: 2.03s
2200:	learn: 896.7405714	total: 2.94s	remaining: 1.74s
2400:	learn: 857.9446465	total: 3.2s	remaining: 1.46s
2600:	learn: 823.1630783	total: 3.44s	remaining: 1.19s
2800:	learn: 791.6103321	total: 3.69s	remaining: 920ms
3000:	learn: 761.5533488	total: 3.93s	remaining: 653ms
3200:	learn: 734.7316346	total: 4.17s	remaining: 390ms
3400:	learn: 711.0030330	total: 4.41s	remaining: 128ms
3499:	learn: 699.7640849	total: 4.53s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 19134.4684440	total: 1.24ms	remaining: 4.36s
200:	learn: 5040.0310102	total: 260ms	remaining: 4.26s
400:	learn: 3681.0694363	total: 549ms	remaining: 4.24s
600:	learn: 3002.8577974	total: 834ms	remaining: 4.02s
800:	learn: 2582.7043073	total: 1.12s	remaining: 3.78s
1000:	learn: 2276.1788025	total: 1.44s	remaining: 3.6s
1200:	learn: 2038.9431544	total: 1.7s	remaining: 3.26s
1400:	learn: 1854.5315372	total: 1.96s	remaining: 2.93s
1600:	learn: 1696.5195791	total: 2.23s	remaining: 2.64s
1800:	learn: 1577.4694595	total: 2.49s	remaining: 2.35s
2000:	learn: 1477.5359157	total: 2.75s	remaining: 2.06s
2200:	learn: 1390.6230305	total: 3s	remaining: 1.77s
2400:	learn: 1317.2525999	total: 3.25s	remaining: 1.49s
2600:	learn: 1253.3693114	total: 3.52s	remaining: 1.22s
2800:	learn: 1198.8703822	total: 3.78s	remaining: 943ms
3000:	learn: 1149.1847657	total: 4.06s	remaining: 675ms
3200:	learn: 1105.2750038	total: 4.33s	remaining: 404ms
3400:	learn: 1065.0984041	total: 4.58s	remaining: 133ms
3499:	learn: 1047.0116995	total: 4.71s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 26214.4461339	total: 1.37ms	remaining: 4.8s
200:	learn: 7087.8909132	total: 282ms	remaining: 4.63s
400:	learn: 5521.6951287	total: 555ms	remaining: 4.29s
600:	learn: 4645.6441879	total: 809ms	remaining: 3.9s
800:	learn: 4112.7970370	total: 1.07s	remaining: 3.61s
1000:	learn: 3719.0613124	total: 1.31s	remaining: 3.26s
1200:	learn: 3413.4622577	total: 1.55s	remaining: 2.98s
1400:	learn: 3160.3645655	total: 1.79s	remaining: 2.68s
1600:	learn: 2947.8012569	total: 2.02s	remaining: 2.4s
1800:	learn: 2781.0321639	total: 2.26s	remaining: 2.13s
2000:	learn: 2641.8056715	total: 2.51s	remaining: 1.88s
2200:	learn: 2517.4127398	total: 2.8s	remaining: 1.65s
2400:	learn: 2407.1884549	total: 3.09s	remaining: 1.42s
2600:	learn: 2310.0771331	total: 3.35s	remaining: 1.16s
2800:	learn: 2224.1675801	total: 3.59s	remaining: 897ms
3000:	learn: 2144.4353158	total: 3.83s	remaining: 638ms
3200:	learn: 2071.9735184	total: 4.08s	remaining: 381ms
3400:	learn: 2004.9244889	total: 4.33s	remaining: 126ms
3499:	learn: 1976.9580467	total: 4.44s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 4842.9802436	total: 1.36ms	remaining: 4.75s
200:	learn: 1301.8138872	total: 243ms	remaining: 3.99s
400:	learn: 1056.2268484	total: 492ms	remaining: 3.8s
600:	learn: 919.2811147	total: 736ms	remaining: 3.55s
800:	learn: 830.2061437	total: 983ms	remaining: 3.31s
1000:	learn: 765.5775963	total: 1.23s	remaining: 3.08s
1200:	learn: 718.9521338	total: 1.46s	remaining: 2.8s
1400:	learn: 678.7462801	total: 1.7s	remaining: 2.54s
1600:	learn: 645.2526931	total: 1.95s	remaining: 2.31s
1800:	learn: 617.0209851	total: 2.2s	remaining: 2.07s
2000:	learn: 593.0785378	total: 2.44s	remaining: 1.82s
2200:	learn: 571.2698397	total: 2.69s	remaining: 1.59s
2400:	learn: 552.0131063	total: 2.92s	remaining: 1.34s
2600:	learn: 535.2355594	total: 3.17s	remaining: 1.1s
2800:	learn: 519.6364709	total: 3.43s	remaining: 855ms
3000:	learn: 505.6324959	total: 3.69s	remaining: 614ms
3200:	learn: 492.7953065	total: 3.94s	remaining: 369ms
3400:	learn: 480.9741639	total: 4.21s	remaining: 123ms
3499:	learn: 475.0794301	total: 4.33s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 14347.1022052	total: 5.64ms	remaining: 19.7s
200:	learn: 3812.4508272	total: 288ms	remaining: 4.72s
400:	learn: 2935.9091620	total: 523ms	remaining: 4.04s
600:	learn: 2488.2480447	total: 757ms	remaining: 3.65s
800:	learn: 2217.5784745	total: 1s	remaining: 3.38s
1000:	learn: 2025.0622729	total: 1.26s	remaining: 3.14s
1200:	learn: 1885.4506450	total: 1.5s	remaining: 2.87s
1400:	learn: 1765.5590684	total: 1.74s	remaining: 2.61s
1600:	learn: 1653.6473941	total: 1.98s	remaining: 2.35s
1800:	learn: 1560.1085136	total: 2.23s	remaining: 2.1s
2000:	learn: 1479.7303961	total: 2.47s	remaining: 1.85s
2200:	learn: 1408.0044834	total: 2.7s	remaining: 1.6s
2400:	learn: 1346.1101671	total: 2.95s	remaining: 1.35s
2600:	learn: 1292.1884042	total: 3.19s	remaining: 1.1s
2800:	learn: 1242.9709378	total: 3.42s	remaining: 854ms
3000:	learn: 1200.4934847	total: 3.66s	remaining: 609ms
3200:	learn: 1161.2877356	total: 3.9s	remaining: 364ms
3400:	learn: 1123.6743969	total: 4.14s	remaining: 120ms
3499:	learn: 1106.0089806	total: 4.25s	remaining: 0us
Learning rate set to 0.017979
0:	learn: 25615.5703562	total: 1.31ms	remaining: 4.59s
200:	learn: 7223.9290938	total: 246ms	remaining: 4.03s
400:	learn: 5116.7003413	total: 503ms	remaining: 3.89s
600:	learn: 4200.7467560	total: 762ms	remaining: 3.68s
800:	learn: 3546.5720279	total: 1s	remaining: 3.38s
1000:	learn: 3139.1622892	total: 1.23s	remaining: 3.08s
1200:	learn: 2822.4673929	total: 1.47s	remaining: 2.81s
1400:	learn: 2577.4948669	total: 1.72s	remaining: 2.58s
1600:	learn: 2383.8730200	total: 1.96s	remaining: 2.32s
1800:	learn: 2220.9914783	total: 2.19s	remaining: 2.07s
2000:	learn: 2083.8914850	total: 2.43s	remaining: 1.82s

In [101]:
sub.to_csv('oilone.csv', index=0)